section {
  width: 600px;
  height: 600px;
  text-align: center;
  border: 15px solid black;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  padding: 20px;
  margin: 20px;
  border: 20px;
  border: 5px solid blue;
  /* TODO: Add a margin property */
  /* TODO: Add a padding property */
  /* TODO: Add a border property */
}

/*.box-setup{
  padding: 20px;
  margin: 20px;
  border: 20px;
  border: 5px solid blue;
}*/